.App{
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  scroll-behavior: smooth;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: rgb(0, 0, 0);
}

.App a{
  color: black;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

.App a:hover{
  font-weight: 500;
}
.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.background{
    background-image: linear-gradient(rgba(238, 238, 238, 0.9), rgba(248, 248, 248, 0.8)), url("./imagenes/fondo1.svg");
    background-size: cover;
    --opacidad-negro: 0.8;
}


  
@keyframes presentation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#presentacion{
  animation: presentation 1.3s ease-in forwards;
}

@keyframes show {
  from { /* el momento del 0% */
    opacity: 0;
    scale: 20% /* tama침o al aparecer*/
  }

  to {
    opacity: 1;
    scale:100%;
  }

}

section{
  view-timeline-name: --content; /* nombre enlazado al scroll */
  view-timeline-axis: block; /* que eje tiene que mirar el scroll, block: en vertical o inline:horizontal*/

  animation-timeline: --content;
  animation-name: show;

  animation-range: entry 10% cover 30% ; 
}
.masinfo{
  margin-top: 100px;
  margin-bottom: 150px;
  view-timeline-name: --info; /* nombre enlazado al scroll */
  view-timeline-axis: block; /* que eje tiene que mirar el scroll, block: en vertical o inline:horizontal*/
  animation-timeline: --info;
  animation-name: show;
  animation-range: entry 0% cover 50% ; 
  height: 300px;

}

.content h1{
  margin-top: 80px;
}

@keyframes titulo {
  0% {
    text-shadow: 10 0 10px  rgb(252, 162, 252);
  }
  100% {
    text-shadow: 0 0 10px rgb(226, 119, 230);
  }
}

.texto-animado {
  animation: 2s titulo linear 1s infinite both normal ;
  animation-timing-function:ease-in-out;
}

.imagenprincipal{
  margin-top: 100px;
}

#proyectos .content{
  margin-bottom: 100px;

}

#contacto .content{
  margin-top: 100px;
}
.icon a{
  font-size: 140px;
  color: black;
}

.icon a:hover{
  color: rgb(211, 66, 146);
}


.proyecto{
  height: 160px;
  width: 260px;
  background-color:rgb(211, 66, 146) ;
  box-shadow: 0 0 15px 0 rgb(0, 0, 0);
  margin: 10px;
  transition: transform 0.7s ease;
  margin: 20px;
}

.proyecto:hover{
  transform: scale(1.1);
  transition-duration: 0.7s ;
  box-shadow: 0 0 20px 0 rgb(44, 44, 44);
  cursor: pointer;
}
.proyecto:not(:hover) {
  transform: scale(1);
}

.footer{
  background-color: rgb(247, 170, 228);
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0;
  margin-top: 200px;
}

@media screen and (max-width: 768px){
  #contacto .content{
    margin-top: 300px;
    margin-bottom: 100px;
  }
  

  .iconoshabilidades {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .imagen-container {
      margin: 16px;
  }

  .imagen-habilidad {
      width: 100px; /* Ajustar el ancho de los iconos */
      margin-top: 30px;
  }

  .name {
      bottom: -30px; /* Ajustar la posici칩n del nombre en pantallas m치s peque침as */
  }
  .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80px;
  }
}


@media screen and (max-width: 425px){
  .h1{
    font-size: 20px;
  }


.footer{
  margin-top:200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.masinfo{
  margin-top: 200px;
}
}