.App{
  margin: 0;
  padding: 0;
  background-color: hwb(0 100% 0%);
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  scroll-behavior: smooth;
  transition: background-color 0.3s ease, color 0.3s ease;
  
  }
  


@keyframes show {
  from { /* el momento del 0% */
    opacity: 0;
    scale: 25% /* tamaño al aparecer*/
  }

  to {
    opacity: 1;
    scale:100%;
  }

}

section{
  view-timeline-name: --content; /* nombre enlazado al scroll */
  view-timeline-axis: block; /* que eje tiene que mirar el scroll, block: en vertical o inline:horizontal*/

  animation-timeline: --content;
  animation-name: show;

  animation-range: entry 10% cover 30% ; /* cuando empieza la animacion, es cuando el elemento se ve al 25% */
/* cover (cubra) termine la animacion cuando el elemento se esté mostrando en un 50% */
  /*/ animation-fill-mode: both;  va hacia adelante y hacia atras la animacion */
}


.content{
  height: 100vh;
}

.content h1{
  margin-top: 80px;
}

.icon a{
  font-size: 20vh;
  color: black;
}

.icon a:hover{
  color: rgb(211, 66, 146);
}


.proyecto{
  height: 160px;
  width: 260px;
  background-color:rgb(211, 66, 146) ;
  box-shadow: 0 0 15px 0 rgb(0, 0, 0);
  margin: 10px;
  transition: transform 0.7s ease;
}

.proyecto:hover{
  transform: scale(1.1);
  transition-duration: 0.7s ;
  box-shadow: 0 0 20px 0 rgb(44, 44, 44);
  cursor: pointer;
}
.proyecto:not(:hover) {
  transform: scale(1);
}
.footer{
  background-color: rgb(247, 170, 228);
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 748px){
    .icon{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media screen and (max-width: 425px){
      .icon a{
        width: 10px;
      }
  }

